<html>
    <head>
        <title>
            AC Recommendation Assistant!
        </title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    </head>
    <body>
        <div class="outercontainer">
            <div class="center"> 
                <h1 id="titlestyle" >
                    AC Recommendation Assistant!
                </h1>
            </div>
            <div class="conversationcontainer" id="chatcontainer">
                <div>
                    <h2>
                        {% for entry in conversations %}
                        <div class="{% if entry.assistant %}bot{% else %}user{% endif %}">
                            {% if entry.assistant %}
                                {{ entry.assistant }}
                            {% else %}
                                {{ entry.user }} 
                            {% endif %}
                        </div>
                        {% endfor %}
                    </h2>
                </div>
            </div>
            <form action="/invite" method="POST" class="center">
                <input type="text" name="user_input_message" id="inputtextbox">
                <input type="image" value= "" id="submitbutton"> 
            </form>
            <form action="/end_conv" method="POST" class="center">
                <button type="submit" id="end">END CONVERSATION</button> 
            </form>
        </div>
    <script>
        function scrollToBottom() {
            var element = document.getElementById("chatcontainer");
            element.scrollTop = element.scrollHeight;
            var inputtextbox = document.getElementById("inputtextbox");
            inputtextbox.focus();
        }
        window.onload = scrollToBottom;
    </script>
    </body>
</html>